In [1]:
import pandas as pd

# Read files

In [15]:
df_0910 = pd.read_csv("0910.csv", on_bad_lines = 'skip', sep = ';')

In [16]:
df_1011 = pd.read_csv("1011.csv", on_bad_lines = 'skip', sep = ';')

In [18]:
df_0910

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/10 20:01,"2,95",17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/10 20:01,"3,75",17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/10 20:01,"3,75",17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/10 20:01,"3,75",17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/10 20:01,"1,95",17530.0,United Kingdom

In [17]:
df_1011

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680.0,France
541909,581587,POST,POSTAGE,1,12/9/11 12:50,18,12680.0,France

# Contanate files

In [22]:
frames = [df_0910, df_1011]

In [26]:
df = pd.concat(frames)

In [27]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680.0,France
541909,581587,POST,POSTAGE,1,12/9/11 12:50,18,12680.0,France

# Familiarisation with the data

In [37]:
df.info

<bound method DataFrame.info of        Invoice StockCode                          Description  Quantity  \
0       489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1       489434    79323P                   PINK CHERRY LIGHTS        12
2       489434    79323W                  WHITE CHERRY LIGHTS        12
3       489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4       489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...        ...       ...                                  ...       ...
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3
541909  581587      POST                              POSTAGE         1

          InvoiceDate Price  Customer ID         Country
0        12/1/09 7:45  6,95      13085.0  United Kingdom
1        12/1/09 7:45  6,75      13085.0  United Kingdom
2        12/1/09 7:45  6,75      13085.0  United Kingdom
3        12/1/09 7:45   2,1      13085.0  United Kingdom
4        12/1/09 7:45  1,25      13085.0  United Kingdom
...               ...   ...          ...             ...
541905  12/9/11 12:50   2,1      12680.0          France
541906  12/9/11 12:50  4,15      12680.0          France
541907  12/9/11 12:50  4,15      12680.0          France
541908  12/9/11 12:50  4,95      12680.0          France
541909  12/9/11 12:50    18      12680.0          France

[1067371 rows x 8 columns]>

### How many orders are there?

In [35]:
df.Invoice.nunique()

53628

### What is the average invoice amount/ basket size?

In [38]:
# To get this, grouping by invoice would be needed, I guess.
# Group by invoice and take the sum of the products of quantity and price.

### Which customer has the most invoices?

In [42]:
# The other way around: group by customer and count the invoices

### Do we need the stock code?
*I do not think so!*

### How many customers do we have?

In [43]:
df['Customer ID'].nunique()

5942